.background-inicio {
    position: relative;
    width: 100%;
    height: 75vh; /* Ajusta este valor para cambiar la altura del contenedor */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../assets/Portada1.png') no-repeat center center;
    background-size: cover; /* Asegura que la imagen cubra el contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    overflow: hidden; /* Evita que el contenido sobresalga */
}

.contenedor-inicio {
    max-width: 70%; /* Ajusta el ancho máximo del contenido */
    padding: 30px; /* Espaciado interno para mejor legibilidad */
    color: rgb(36, 102, 41); /* Color del texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: auto; /* Asegura que el contenido ocupe todo el alto del contenedor */
    box-sizing: border-box; /* Incluye el padding en el tamaño del contenedor */
}

.titulo-inicio {
    font-size: 3.8em;
    /* Ajusta el tamaño del título para que sea proporcional al ancho de la pantalla */
    margin-bottom: 20px;
}

.parrafo-inicio {
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px;
    /* Ajusta el tamaño del párrafo para que sea proporcional al ancho de la pantalla */
}

.boton-conoce {/*boton*/
    margin-top: 50px; /* Reduce el margen superior del botón */
    font-weight: 700; /* Establece el grosor con el que se muestran las letras de texto */
    padding: 15px 25px; /* Establece el espaciado de relleno requerido por todos los lados del elemento */
    color: white; /* Color de la letra */
    background-color: rgb(36, 102, 41); /* Color del fondo */
    text-align: center; /* Centra el texto del botón */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    line-height: normal; /* Ajusta la altura de la línea para mantener el texto junto */
    text-transform: uppercase;
    border-radius: 4px;
    transition: .4s;
}

.boton-conoce:hover{
    background-color: rgb(74, 202, 29);
    transition: .4s;
}

@media (max-width: 578px) {
    .background {
        height: 50vh;
        /* Ajusta la altura del contenedor en pantallas más pequeñas */
    }

    .titulo-inicio {
        font-size: 7vw;
        /* Ajusta el tamaño del título para pantallas más pequeñas */
    }

    .parrafo-inicio {
        font-size: 4vw;
        /* Ajusta el tamaño del párrafo para pantallas más pequeñas */
    }

    .boton-conoce {
        font-size: 2.5vw;
        /* Ajusta el tamaño de la fuente del botón para pantallas más pequeñas */
        padding: 8px 16px;
        /* Ajusta el padding del botón para pantallas más pequeñas */

    }
}